<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"th:replace="new-base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>
<section>
    <div class="main">

        <section class="about-us " >
            <div class="row">
                <div class="col-sm-4">
                    <div class="hero-section-right">
                        <div class="absolute icons icon-dots">
                            <img src="../image/about/dots.png" alt="" />
                        </div>
                        <div class="absolute icons icon-cube">
                            <img src="../image/about/cube.png" alt="" />
                        </div>
                        <div class="absolute icons icon-circle">
                            <img src="../image/about/circle.png" alt="" />
                        </div>
                        <div class="absolute icons icon-zigzag">
                            <img src="../image/about/zigzags.png" alt="" />
                        </div>
                        <div class="absolute icons icon-plus">
                            <img src="../image/about/plus.png" alt="" />
                        </div>
                        <div class="user-image">
                            <img src="../image/about/UserImage.png" alt="" />
                        </div>
                    </div>



                </div>
                <div class="col-sm-8 ">
                    <div class="about">

                        <div class="text">
                            <h2>About Us</h2>
                            <p>Today is the modern era of computers where computer are playing a deep role in human life and so is the internet which is the backbone of daily life.Without the presence of internet in the society the living could not have been so easy & comfortable.
                                Study@Click is an online learning platform.It delivers services in the field of education.This platform is mainly designed for Engineering student where student login and collect their learning material and improve result.</p>
                            <div class="data">
                                <a href="#" class="Read">Read Me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="meet"><h1>MEET OUR TEAM NOW</h1></div>
        <div class="container" >
            <div class="row">
                <div class="col-sm-3">
                    <div class="main">
                        <div class="service">
                            <div class="service-logo">
                                <img src="../image/about/aditya.jpg" alt="">
                            </div>
                            <h4>Aditya Kumar</h4>
                            <h5>Backend Lead Developer</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s and scrambled it to make a type specimen book.
                            </p>
                        </div>
                        <div class="shadow1"></div>
                        <div class="shadow2"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="main">
                        <div class="service">
                            <div class="service-logo">
                                <img src="../image/about/file (1).png" alt="">
                            </div>
                            <h4>Nishant Singh</h4>
                            <h5>Frontend Lead Developer</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s and scrambled it to make a type specimen book.
                            </p>
                        </div>
                        <div class="shadow1"></div>
                        <div class="shadow2"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="main">
                        <div class="service">
                            <div class="service-logo">
                                <img src="../image/about/aman.jpg" alt="">
                            </div>
                            <h4>Aman Verma</h4>
                            <h5>Backend Developer</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s and scrambled it to make a type specimen book.
                            </p>
                        </div>
                        <div class="shadow1"></div>
                        <div class="shadow2"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="main">
                        <div class="service">
                            <div class="service-logo">
                                <img src="../image/about/rahulimg.jpg" alt="">
                            </div>
                            <h4>Raja Rahul Patel</h4>
                            <h5>Frontend Developer</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s and scrambled it to make a type specimen book.
                            </p>
                        </div>
                        <div class="shadow1"></div>
                        <div class="shadow2"></div>
                    </div>
                </div>

            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</div>
</section>
</body>
</html>