<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="new-base::Layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Courses Page</title>
</head>
<body>
<section class="course">
  <div class="row text-center mb-3" style="color:white">
    <h2 class="section-heading">Data Structure</h2>
  </div>
  <div class="row">
    <div class="column" th:each="c:${subject}" th:if="${c.courses_type}==DataStructure">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-hammer"></i>
        </div>
        <h3 th:text="${c.subjectName}"></h3>
        <p th:text="${c.description}">

        </p>
        <a th:href="@{'/user/viewContent/'+${c.id}}" class="btn  btn-sm btn-warning" role="button">View</a>
      </div>
    </div>
  </div>
</section>
</body>
</html>